In [1]:
import pandas as pd
import sklearn
import matplotlib as plt
from pycaret.regression import *

In [2]:
df = pd.read_csv('1.filtered_df.csv')
df.index = df['Unnamed: 0']
df.drop(['Unnamed: 0', 'row', 'column', 'lat_min', 'lat_max', 'lon_min', 'lon_max'], axis = 1, inplace = True)
df

,nature,entertainment,transports,art,tourism,security,accessibility,sport
Unnamed: 0,,,,,,,,
R1C2,0.0,6.0,22.0,0.0,2.0,0.0,0.0,0.0
R2C2,3.0,20.0,39.0,0.0,2.0,0.0,0.0,0.0
R3C2,3.0,17.0,78.0,0.0,0.0,2.0,1.0,0.0
R3C3,2.0,32.0,67.0,1.0,3.0,0.0,1.0,0.0
R3C4,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...
R200C196,14.0,1.0,14.0,0.0,0.0,0.0,0.0,0.0
R200C197,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
R200C198,0.0,0.0,4.0,0.0,0.0,0.0,0.0,0.0
R200C199,0.0,2.0,3.0,0.0,0.0,0.0,0.0,0.0
R200C200,2.0,3.0,2.0,0.0,0.0,0.0,0.0,0.0

In [3]:
df.describe()

,nature,entertainment,transports,art,tourism,security,accessibility,sport
count,25410.000000,25410.000000,25410.000000,25410.000000,25410.000000,25410.000000,25410.000000,25410.000000
mean,8.508146,2.807044,18.598190,0.091145,0.521094,0.172767,0.487603,0.000197
std,64.888175,12.230594,58.770512,0.417592,2.041399,1.356800,3.653606,0.014026
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,1.000000,0.000000,4.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,4.000000,0.000000,11.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,2078.000000,359.000000,1539.000000,12.000000,89.000000,86.000000,202.000000,1.000000

In [4]:
exp = setup(df, target = 'tourism')

In [5]:
best = compare_models(n_select = 3)

Initiated  . . . . . . . . . . . . . . . . . .              19:16:27
Status     . . . . . . . . . . . . . . . . . .  Loading Dependencies
Estimator  . . . . . . . . . . . . . . . . . .     Compiling Library

Processing:   0%|          | 0/79 [00:00<?, ?it/s]

In [6]:
evaluate_model(best[0])

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Pipeline Plot', 'pipelin…

In [7]:
# dashboard(best[0])

In [8]:
tuned_model = tune_model(best[0])

Initiated  . . . . . . . . . . . . . . . . . .              19:17:16
Status     . . . . . . . . . . . . . . . . . .  Loading Dependencies
Estimator  . . . . . . . . . . . . . . . . . .     Compiling Library

Processing:   0%|          | 0/7 [00:00<?, ?it/s]

Fitting 10 folds for each of 10 candidates, totalling 100 fits

# Expanding the Model - Interaction Effect and Polynomial Features

In [9]:
expanded_df = df.copy()
columns = expanded_df.columns.to_list()
columns.remove('tourism')

In [10]:
for a in columns:
    for b in columns:
        expanded_df[a + ' x ' + b ] = expanded_df[a] * expanded_df[b]

In [11]:
expanded_df

,nature,entertainment,transports,art,tourism,security,accessibility,sport,nature x nature,nature x entertainment,...,accessibility x security,accessibility x accessibility,accessibility x sport,sport x nature,sport x entertainment,sport x transports,sport x art,sport x security,sport x accessibility,sport x sport
Unnamed: 0,,,,,,,,,,,,,,,,,,,,,
R1C2,0.0,6.0,22.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
R2C2,3.0,20.0,39.0,0.0,2.0,0.0,0.0,0.0,9.0,60.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
R3C2,3.0,17.0,78.0,0.0,0.0,2.0,1.0,0.0,9.0,51.0,...,2.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
R3C3,2.0,32.0,67.0,1.0,3.0,0.0,1.0,0.0,4.0,64.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
R3C4,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
R200C196,14.0,1.0,14.0,0.0,0.0,0.0,0.0,0.0,196.0,14.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
R200C197,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
R200C198,0.0,0.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
R200C199,0.0,2.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
R200C200,2.0,3.0,2.0,0.0,0.0,0.0,0.0,0.0,4.0,6.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [12]:
exp = setup(expanded_df, target = 'tourism')

In [13]:
best_expanded = compare_models()

Initiated  . . . . . . . . . . . . . . . . . .              19:17:31
Status     . . . . . . . . . . . . . . . . . .  Loading Dependencies
Estimator  . . . . . . . . . . . . . . . . . .     Compiling Library

Processing:   0%|          | 0/77 [00:00<?, ?it/s]

In [14]:
evaluate_model(best_expanded)

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Pipeline Plot', 'pipelin…

# Ensemble Models

In [15]:
bagged = ensemble_model(best[0], method = 'Bagging')

Initiated  . . . . . . . . . . . . . . . . . .              19:19:15
Status     . . . . . . . . . . . . . . . . . .  Loading Dependencies
Estimator  . . . . . . . . . . . . . . . . . .     Compiling Library

Processing:   0%|          | 0/6 [00:00<?, ?it/s]

In [16]:
boosting = ensemble_model(best[0], method = 'Boosting')

Initiated  . . . . . . . . . . . . . . . . . .              19:19:40
Status     . . . . . . . . . . . . . . . . . .  Loading Dependencies
Estimator  . . . . . . . . . . . . . . . . . .     Compiling Library

Processing:   0%|          | 0/6 [00:00<?, ?it/s]

In [17]:
blender = blend_models(best)

Initiated  . . . . . . . . . . . . . . . . . .              19:20:02
Status     . . . . . . . . . . . . . . . . . .  Loading Dependencies
Estimator  . . . . . . . . . . . . . . . . . .     Compiling Library

Processing:   0%|          | 0/6 [00:00<?, ?it/s]

In [18]:
stacking = stack_models(best)

Initiated  . . . . . . . . . . . . . . . . . .              19:20:07
Status     . . . . . . . . . . . . . . . . . .  Loading Dependencies
Estimator  . . . . . . . . . . . . . . . . . .     Compiling Library

Processing:   0%|          | 0/6 [00:00<?, ?it/s]