In [27]:
from sklearn.cluster import KMeans
import numpy as np
import pandas as pd

In [28]:
prediction_df = pd.read_csv('../030-training_models/7.final_prediction.csv')
prediction_df.set_index('field_1', inplace = True)
prediction_df = prediction_df[['predicted_tourism', 'geometry']]
prediction_df

          predicted_tourism                                           geometry
field_1
R1C2                   0.00  POLYGON ((11.5075004965 45.005003717259264, 11...
R1C3                   0.04  POLYGON ((11.515000493 45.005003717259264, 11....
R1C5                   0.00  POLYGON ((11.530000486 45.005003717259264, 11....
R1C6                   0.00  POLYGON ((11.5375004825 45.005003717259264, 11...
R1C7                   0.00  POLYGON ((11.545000479 45.005003717259264, 11....
...                     ...                                                ...
R200C196               0.43  POLYGON ((12.9624998175 45.999997526527096, 12...
R200C197               0.49  POLYGON ((12.969999814 45.999997526527096, 12....
R200C198               0.00  POLYGON ((12.9774998105 45.999997526527096, 12...
R200C199               0.00  POLYGON ((12.984999807 45.999997526527096, 12....
R200C200               0.00  POLYGON ((12.9924998035 45.999997526527096, 12...

[28154 rows x 2 columns]

In [29]:
gdf = pd.read_csv('../030-training_models/1.filtered_df.csv')
gdf.set_index('Unnamed: 0', inplace = True)
gdf = gdf[['lat_min', 'lat_max', 'lon_min', 'lon_max']]
gdf

              lat_min    lat_max    lon_min  lon_max
Unnamed: 0
R1C2        45.000004  45.005004  11.500001  11.5075
R1C3        45.000004  45.005004  11.507500  11.5150
R1C5        45.000004  45.005004  11.522500  11.5300
R1C6        45.000004  45.005004  11.530000  11.5375
R1C7        45.000004  45.005004  11.537500  11.5450
...               ...        ...        ...      ...
R200C196    45.994998  45.999998  12.955000  12.9625
R200C197    45.994998  45.999998  12.962500  12.9700
R200C198    45.994998  45.999998  12.970000  12.9775
R200C199    45.994998  45.999998  12.977500  12.9850
R200C200    45.994998  45.999998  12.985000  12.9925

[28154 rows x 4 columns]

In [30]:
df = pd.concat([prediction_df, gdf], axis = 1)
df

,predicted_tourism,geometry,lat_min,lat_max,lon_min,lon_max
R1C2,0.00,"POLYGON ((11.5075004965 45.005003717259264, 11...",45.000004,45.005004,11.500001,11.5075
R1C3,0.04,"POLYGON ((11.515000493 45.005003717259264, 11....",45.000004,45.005004,11.507500,11.5150
R1C5,0.00,"POLYGON ((11.530000486 45.005003717259264, 11....",45.000004,45.005004,11.522500,11.5300
R1C6,0.00,"POLYGON ((11.5375004825 45.005003717259264, 11...",45.000004,45.005004,11.530000,11.5375
R1C7,0.00,"POLYGON ((11.545000479 45.005003717259264, 11....",45.000004,45.005004,11.537500,11.5450
...,...,...,...,...,...,...
R200C196,0.43,"POLYGON ((12.9624998175 45.999997526527096, 12...",45.994998,45.999998,12.955000,12.9625
R200C197,0.49,"POLYGON ((12.969999814 45.999997526527096, 12....",45.994998,45.999998,12.962500,12.9700
R200C198,0.00,"POLYGON ((12.9774998105 45.999997526527096, 12...",45.994998,45.999998,12.970000,12.9775
R200C199,0.00,"POLYGON ((12.984999807 45.999997526527096, 12....",45.994998,45.999998,12.977500,12.9850
R200C200,0.00,"POLYGON ((12.9924998035 45.999997526527096, 12...",45.994998,45.999998,12.985000,12.9925

In [31]:
filtered_df = df.loc[df.predicted_tourism > df.predicted_tourism.quantile(0.85)]
filtered_df

,predicted_tourism,geometry,lat_min,lat_max,lon_min,lon_max
R1C37,1.18,"POLYGON ((11.770000374 45.005003717259264, 11....",45.000004,45.005004,11.7625,11.7700
R1C38,0.91,"POLYGON ((11.7775003705 45.005003717259264, 11...",45.000004,45.005004,11.7700,11.7775
R1C86,0.61,"POLYGON ((12.1375002025 45.005003717259264, 12...",45.000004,45.005004,12.1300,12.1375
R1C96,0.58,"POLYGON ((12.2125001675 45.005003717259264, 12...",45.000004,45.005004,12.2050,12.2125
R1C119,0.79,"POLYGON ((12.385000087 45.005003717259264, 12....",45.000004,45.005004,12.3775,12.3850
...,...,...,...,...,...,...
R200C152,0.52,"POLYGON ((12.6324999715 45.999997526527096, 12...",45.994998,45.999998,12.6250,12.6325
R200C162,0.53,"POLYGON ((12.7074999365 45.999997526527096, 12...",45.994998,45.999998,12.7000,12.7075
R200C182,0.98,"POLYGON ((12.8574998665 45.999997526527096, 12...",45.994998,45.999998,12.8500,12.8575
R200C183,1.58,"POLYGON ((12.864999863 45.999997526527096, 12....",45.994998,45.999998,12.8575,12.8650
R200C184,1.14,"POLYGON ((12.8724998595 45.999997526527096, 12...",45.994998,45.999998,12.8650,12.8725

In [32]:
kmeans = KMeans(n_clusters= 20).fit_predict(filtered_df[['lat_min', 'lat_max', 'lon_min', 'lon_max']])

In [33]:
exporting_df = pd.concat([filtered_df['geometry'], pd.Series(kmeans + 1, index = filtered_df.index, name = 'cluster')], axis = 1)
exporting_df

                                                   geometry  cluster
R1C37     POLYGON ((11.770000374 45.005003717259264, 11....       11
R1C38     POLYGON ((11.7775003705 45.005003717259264, 11...       11
R1C86     POLYGON ((12.1375002025 45.005003717259264, 12...        6
R1C96     POLYGON ((12.2125001675 45.005003717259264, 12...        6
R1C119    POLYGON ((12.385000087 45.005003717259264, 12....        6
...                                                     ...      ...
R200C152  POLYGON ((12.6324999715 45.999997526527096, 12...        9
R200C162  POLYGON ((12.7074999365 45.999997526527096, 12...        9
R200C182  POLYGON ((12.8574998665 45.999997526527096, 12...       19
R200C183  POLYGON ((12.864999863 45.999997526527096, 12....       19
R200C184  POLYGON ((12.8724998595 45.999997526527096, 12...       19

[4212 rows x 2 columns]

In [34]:
exporting_df.to_csv('1.clustered_df.csv')

In [44]:
cluster_coordinates = pd.DataFrame(KMeans(n_clusters=20).fit(filtered_df[['lat_min', 'lat_max', 'lon_min', 'lon_max']]).cluster_centers_)
cluster_coordinates.columns = ['lat_min', 'lat_max', 'lon_min', 'lon_max']
cluster_coordinates.index = cluster_coordinates.index + 1
cluster_coordinates

      lat_min    lat_max    lon_min    lon_max
1   45.956109  45.961109  11.728646  11.736146
2   45.680619  45.685619  12.249934  12.257434
3   45.405317  45.410317  11.876816  11.884316
4   45.851164  45.856164  12.858879  12.866379
5   45.819269  45.824269  12.023165  12.030665
6   45.451879  45.456879  12.362341  12.369841
7   45.171878  45.176878  12.011370  12.018870
8   45.201270  45.206270  11.572175  11.579675
9   45.781311  45.786311  11.595813  11.603313
10  45.532796  45.537796  11.574617  11.582117
11  45.910962  45.915962  12.284607  12.292107
12  45.568219  45.573219  12.720953  12.728453
13  45.708499  45.713499  12.509850  12.517350
14  45.494944  45.499943  12.144400  12.151900
15  45.288704  45.293704  11.707682  11.715182
16  45.770420  45.775420  11.795974  11.803474
17  45.087986  45.092986  11.770461  11.777961
18  45.136438  45.141438  12.277065  12.284565
19  45.912533  45.917533  12.636647  12.644147
20  45.627407  45.632407  11.870648  11.878148

In [49]:
cluster_coordinates['lat'] = (cluster_coordinates['lat_min'] + cluster_coordinates['lat_max']) / 2
cluster_coordinates['lon'] = (cluster_coordinates['lon_min'] + cluster_coordinates['lon_max']) / 2
cluster_coordinates = cluster_coordinates[['lat', 'lon']]
cluster_coordinates

          lat        lon
1   45.958609  11.732396
2   45.683119  12.253684
3   45.407817  11.880566
4   45.853664  12.862629
5   45.821769  12.026915
6   45.454379  12.366091
7   45.174378  12.015120
8   45.203770  11.575925
9   45.783811  11.599563
10  45.535296  11.578367
11  45.913462  12.288357
12  45.570719  12.724703
13  45.710999  12.513600
14  45.497444  12.148150
15  45.291204  11.711432
16  45.772920  11.799724
17  45.090486  11.774211
18  45.138938  12.280815
19  45.915033  12.640397
20  45.629907  11.874398

In [51]:
cluster_coordinates.to_csv('1.cluster_coordinates.csv')