In [1]:
from sklearn.cluster import KMeans
import numpy as np
import pandas as pd

In [2]:
full_df = pd.read_csv('../030-training_models/7.final_predictions.csv')
full_df.set_index('field_1', inplace = True)
full_df

,nature,entertainment,transports,art,tourism,security,accessibility,sport,geometry,predicted_tourism
field_1,,,,,,,,,,
R1C2,-0.131120,0.261063,0.057883,-0.218264,0.724457,-0.127334,-0.133458,-0.014029,POLYGON ((1.407528852902366 41.137514355786195...,0.431534
R2C2,-0.084887,1.405733,0.347144,-0.218264,0.724457,-0.127334,-0.133458,-0.014029,"POLYGON ((1.407528852902366 41.14134593088275,...",0.552437
R3C2,-0.084887,1.160447,1.010742,-0.218264,-0.255263,1.346723,0.140244,-0.014029,POLYGON ((1.407528852902366 41.145177505979305...,1.503504
R3C3,-0.100298,2.386880,0.823573,2.176416,1.214317,-0.127334,0.140244,-0.014029,POLYGON ((1.4150286556516003 41.14517750597930...,2.438736
R3C4,-0.131120,-0.229510,-0.316454,-0.218264,0.234597,-0.127334,-0.133458,-0.014029,POLYGON ((1.4225284584008346 41.14517750597930...,0.094368
...,...,...,...,...,...,...,...,...,...,...
R200C196,0.084636,-0.147748,-0.078240,-0.218264,-0.255263,-0.127334,-0.133458,-0.014029,POLYGON ((2.8624905862538284 41.89999780000067...,0.641918
R200C197,-0.115709,-0.229510,-0.299439,-0.218264,-0.255263,-0.127334,-0.133458,-0.014029,POLYGON ((2.8699903890030627 41.89999780000067...,0.208478
R200C198,-0.131120,-0.229510,-0.248393,-0.218264,-0.255263,-0.127334,-0.133458,-0.014029,POLYGON ((2.877490191752297 41.899997800000676...,0.229878
R200C199,-0.131120,-0.065986,-0.265408,-0.218264,-0.255263,-0.127334,-0.133458,-0.014029,POLYGON ((2.8849899945015314 41.89999780000067...,0.140300
R200C200,-0.100298,0.015776,-0.282424,-0.218264,-0.255263,-0.127334,-0.133458,-0.014029,POLYGON ((2.8924897972507657 41.89999780000067...,0.305451

In [3]:
prediction_df = pd.read_csv('../030-training_models/7.final_predictions.csv')
prediction_df.set_index('field_1', inplace = True)
prediction_df = prediction_df[['predicted_tourism', 'geometry']]
prediction_df

          predicted_tourism                                           geometry
field_1
R1C2               0.431534  POLYGON ((1.407528852902366 41.137514355786195...
R2C2               0.552437  POLYGON ((1.407528852902366 41.14134593088275,...
R3C2               1.503504  POLYGON ((1.407528852902366 41.145177505979305...
R3C3               2.438736  POLYGON ((1.4150286556516003 41.14517750597930...
R3C4               0.094368  POLYGON ((1.4225284584008346 41.14517750597930...
...                     ...                                                ...
R200C196           0.641918  POLYGON ((2.8624905862538284 41.89999780000067...
R200C197           0.208478  POLYGON ((2.8699903890030627 41.89999780000067...
R200C198           0.229878  POLYGON ((2.877490191752297 41.899997800000676...
R200C199           0.140300  POLYGON ((2.8849899945015314 41.89999780000067...
R200C200           0.305451  POLYGON ((2.8924897972507657 41.89999780000067...

[25410 rows x 2 columns]

In [4]:
gdf = pd.read_csv('../030-training_models/1.filtered_df.csv')
gdf.set_index('Unnamed: 0', inplace = True)
gdf = gdf[['lat_min', 'lat_max', 'lon_min', 'lon_max']]
gdf

              lat_min    lat_max   lon_min   lon_max
Unnamed: 0
R1C2        41.133683  41.137514  1.400029  1.407529
R2C2        41.137514  41.141346  1.400029  1.407529
R3C2        41.141346  41.145178  1.400029  1.407529
R3C3        41.141346  41.145178  1.407529  1.415029
R3C4        41.141346  41.145178  1.415029  1.422528
...               ...        ...       ...       ...
R200C196    41.896166  41.899998  2.854991  2.862491
R200C197    41.896166  41.899998  2.862491  2.869990
R200C198    41.896166  41.899998  2.869990  2.877490
R200C199    41.896166  41.899998  2.877490  2.884990
R200C200    41.896166  41.899998  2.884990  2.892490

[25410 rows x 4 columns]

In [5]:
df = pd.concat([prediction_df, gdf], axis = 1)
df

,predicted_tourism,geometry,lat_min,lat_max,lon_min,lon_max
R1C2,0.431534,POLYGON ((1.407528852902366 41.137514355786195...,41.133683,41.137514,1.400029,1.407529
R2C2,0.552437,"POLYGON ((1.407528852902366 41.14134593088275,...",41.137514,41.141346,1.400029,1.407529
R3C2,1.503504,POLYGON ((1.407528852902366 41.145177505979305...,41.141346,41.145178,1.400029,1.407529
R3C3,2.438736,POLYGON ((1.4150286556516003 41.14517750597930...,41.141346,41.145178,1.407529,1.415029
R3C4,0.094368,POLYGON ((1.4225284584008346 41.14517750597930...,41.141346,41.145178,1.415029,1.422528
...,...,...,...,...,...,...
R200C196,0.641918,POLYGON ((2.8624905862538284 41.89999780000067...,41.896166,41.899998,2.854991,2.862491
R200C197,0.208478,POLYGON ((2.8699903890030627 41.89999780000067...,41.896166,41.899998,2.862491,2.869990
R200C198,0.229878,POLYGON ((2.877490191752297 41.899997800000676...,41.896166,41.899998,2.869990,2.877490
R200C199,0.140300,POLYGON ((2.8849899945015314 41.89999780000067...,41.896166,41.899998,2.877490,2.884990
R200C200,0.305451,POLYGON ((2.8924897972507657 41.89999780000067...,41.896166,41.899998,2.884990,2.892490

In [6]:
filtered_df = df.loc[df.predicted_tourism > df.predicted_tourism.quantile(0.85)].dropna()
filtered_df

,predicted_tourism,geometry,lat_min,lat_max,lon_min,lon_max
R3C2,1.503504,POLYGON ((1.407528852902366 41.145177505979305...,41.141346,41.145178,1.400029,1.407529
R3C3,2.438736,POLYGON ((1.4150286556516003 41.14517750597930...,41.141346,41.145178,1.407529,1.415029
R4C3,3.038425,POLYGON ((1.4150286556516003 41.14900908107586...,41.145178,41.149009,1.407529,1.415029
R4C4,1.315167,POLYGON ((1.4225284584008346 41.14900908107586...,41.145178,41.149009,1.415029,1.422528
R5C4,2.246833,POLYGON ((1.4225284584008346 41.15284065617241...,41.149009,41.152841,1.415029,1.422528
...,...,...,...,...,...,...
R200C65,1.637577,POLYGON ((1.8800164261041294 41.89999780000067...,41.896166,41.899998,1.872517,1.880016
R200C66,1.130548,POLYGON ((1.8875162288533638 41.89999780000067...,41.896166,41.899998,1.880016,1.887516
R200C71,0.930883,POLYGON ((1.9250152425995355 41.89999780000067...,41.896166,41.899998,1.917515,1.925015
R200C157,0.875886,POLYGON ((2.569998279033689 41.899997800000676...,41.896166,41.899998,2.562498,2.569998
R200C186,0.943794,POLYGON ((2.787492558761485 41.899997800000676...,41.896166,41.899998,2.779993,2.787493

In [7]:
kmeans = KMeans(n_clusters= 20).fit_predict(filtered_df[['lat_min', 'lat_max', 'lon_min', 'lon_max']])

In [8]:
exporting_df = pd.concat([filtered_df['geometry'], pd.Series(kmeans + 1, index = filtered_df.index, name = 'cluster')], axis = 1)
exporting_df

                                                   geometry  cluster
R3C2      POLYGON ((1.407528852902366 41.145177505979305...        5
R3C3      POLYGON ((1.4150286556516003 41.14517750597930...        5
R4C3      POLYGON ((1.4150286556516003 41.14900908107586...        5
R4C4      POLYGON ((1.4225284584008346 41.14900908107586...        5
R5C4      POLYGON ((1.4225284584008346 41.15284065617241...        5
...                                                     ...      ...
R200C65   POLYGON ((1.8800164261041294 41.89999780000067...       11
R200C66   POLYGON ((1.8875162288533638 41.89999780000067...       11
R200C71   POLYGON ((1.9250152425995355 41.89999780000067...       11
R200C157  POLYGON ((2.569998279033689 41.899997800000676...        4
R200C186  POLYGON ((2.787492558761485 41.899997800000676...        4

[3811 rows x 2 columns]

In [9]:
exporting_df.to_csv('043.clustered_df.csv')

In [10]:
cluster_coordinates = pd.DataFrame(KMeans(n_clusters=20).fit(filtered_df[['lat_min', 'lat_max', 'lon_min', 'lon_max']]).cluster_centers_)
cluster_coordinates.columns = ['lat_min', 'lat_max', 'lon_min', 'lon_max']
cluster_coordinates.index = cluster_coordinates.index + 1
cluster_coordinates

      lat_min    lat_max   lon_min   lon_max
1   41.403674  41.407506  2.136315  2.143815
2   41.601107  41.604939  2.534021  2.541521
3   41.238838  41.242670  1.750437  1.757936
4   41.758667  41.762499  1.784823  1.792322
5   41.551324  41.555156  1.656781  1.664281
6   41.233649  41.237481  1.539367  1.546867
7   41.787434  41.791266  2.206346  2.213846
8   41.660762  41.664594  2.711892  2.719392
9   41.733564  41.737395  1.487683  1.495183
10  41.551392  41.555223  2.373622  2.381122
11  41.575786  41.579618  1.861543  1.869043
12  41.574637  41.578469  2.058159  2.065659
13  41.323875  41.327706  2.040898  2.048398
14  41.741970  41.745801  2.451155  2.458655
15  41.841673  41.845504  2.723089  2.730589
16  41.794591  41.798423  1.944740  1.952240
17  41.477651  41.481482  2.207357  2.214857
18  41.394430  41.398261  1.710847  1.718347
19  41.440267  41.444098  1.979787  1.987286
20  41.614826  41.618658  2.246140  2.253640

In [11]:
cluster_coordinates['lat'] = (cluster_coordinates['lat_min'] + cluster_coordinates['lat_max']) / 2
cluster_coordinates['lon'] = (cluster_coordinates['lon_min'] + cluster_coordinates['lon_max']) / 2
cluster_coordinates = cluster_coordinates[['lat', 'lon']]
cluster_coordinates

          lat       lon
1   41.405590  2.140065
2   41.603023  2.537771
3   41.240754  1.754186
4   41.760583  1.788572
5   41.553240  1.660531
6   41.235565  1.543117
7   41.789350  2.210096
8   41.662678  2.715642
9   41.735480  1.491433
10  41.553307  2.377372
11  41.577702  1.865293
12  41.576553  2.061909
13  41.325791  2.044648
14  41.743886  2.454905
15  41.843588  2.726839
16  41.796507  1.948490
17  41.479566  2.211107
18  41.396346  1.714597
19  41.442183  1.983536
20  41.616742  2.249890

In [12]:
cluster_coordinates.to_csv('043.cluster_coordinates.csv')