In [5]:
import os
import pandas as pd

In [6]:
path = '../020-clean_dbs/filtered/'

In [7]:
file_list = os.listdir(path)
columns_to_keep = ['osm_id', 'code', 'fclass', 'name', 'lon', 'lat', 'SELECT']
dfs = []

for filtered_df in file_list:
    df = pd.read_csv(path + filtered_df)
    dfs.append(df[columns_to_keep])

C:\Users\gabri\AppData\Local\Temp\ipykernel_100408\3881309497.py:6: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(path + filtered_df)
C:\Users\gabri\AppData\Local\Temp\ipykernel_100408\3881309497.py:6: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(path + filtered_df)

In [8]:
merged_df = pd.concat(dfs)
merged_df.to_csv('0.merged_df.csv')

merged_df

,osm_id,code,fclass,name,lon,lat,SELECT
0,6316725,7201,forest,De Zeelt,5.677270,52.519317,nature
1,6316773,7201,forest,De Fint,5.513479,52.547695,nature
2,6320099,7209,commercial,Larserpoort,5.500766,52.473531,entertainment
3,6320110,7212,nature_reserve,Palazzo,5.483148,52.491385,nature
4,6320117,7209,commercial,NaN,5.474250,52.495943,entertainment
...,...,...,...,...,...,...,...
52278,1115993965,8200,water,NaN,4.617114,52.081069,nature
52279,1116052777,8200,water,NaN,4.325396,51.993221,nature
52280,1116052778,8200,water,NaN,4.324132,51.991543,nature
52281,1116052779,8221,water,NaN,4.323762,51.990858,nature
52282,1116098514,8200,water,NaN,4.767129,52.137476,nature