In [1]:
import pandas as pd
import numpy as np
import sklearn
import matplotlib as plt
from pycaret.regression import *

In [2]:
df = pd.read_csv('5.extended_df.csv')
df.index = df['Unnamed: 0']
df.drop(['Unnamed: 0', 'row', 'column', 'lat_min', 'lat_max', 'lon_min', 'lon_max'], axis = 1, inplace = True)
df.drop(list(df.filter(regex = 'tourism_')),axis = 1, inplace = True)
df

,nature,entertainment,transports,art,tourism,security,accessibility,sport,nature_west,entertainment_west,...,sport_south_west,security_south_west,accessibility_south_west,nature_north_west,entertainment_north_west,transports_north_west,art_north_west,sport_north_west,security_north_west,accessibility_north_west
Unnamed: 0,,,,,,,,,,,,,,,,,,,,,
R1C1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,3.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
R1C2,1.0,3.0,5.0,0.0,3.0,0.0,5.0,0.0,4.0,1.0,...,0.0,0.0,0.0,2.0,0.0,1.0,0.0,0.0,0.0,0.0
R1C3,4.0,1.0,34.0,0.0,2.0,0.0,4.0,0.0,9.0,0.0,...,0.0,0.0,0.0,4.0,0.0,4.0,0.0,0.0,0.0,0.0
R1C4,9.0,0.0,25.0,0.0,1.0,0.0,1.0,0.0,6.0,2.0,...,0.0,0.0,0.0,4.0,2.0,11.0,0.0,0.0,0.0,0.0
R1C5,6.0,2.0,20.0,0.0,0.0,0.0,0.0,0.0,16.0,8.0,...,0.0,0.0,0.0,2.0,0.0,23.0,1.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
R200C196,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
R200C197,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
R200C198,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
R200C199,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
R200C200,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [3]:
df.describe()

,nature,entertainment,transports,art,tourism,security,accessibility,sport,nature_west,entertainment_west,...,sport_south_west,security_south_west,accessibility_south_west,nature_north_west,entertainment_north_west,transports_north_west,art_north_west,sport_north_west,security_north_west,accessibility_north_west
count,40000.000000,40000.000000,40000.000000,40000.000000,40000.000000,40000.000000,40000.000000,40000.0000,40000.000000,40000.000000,...,40000.0000,40000.000000,40000.000000,40000.000000,40000.000000,40000.000000,40000.000000,40000.0000,40000.000000,40000.000000
mean,14.450950,1.502125,19.839100,0.188475,0.299300,0.123500,0.577975,0.0001,14.450950,1.502125,...,0.0001,0.123500,0.577950,14.320125,1.489450,19.647675,0.187325,0.0001,0.121675,0.571950
std,34.657835,8.541670,48.065601,0.930819,2.009184,1.473194,2.599998,0.0100,34.657835,8.541670,...,0.0100,1.473194,2.599999,34.553665,8.528552,47.872590,0.929546,0.0100,1.468613,2.588888
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0000,0.000000,0.000000,...,0.0000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0000,0.000000,0.000000,...,0.0000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0000,0.000000,0.000000
50%,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0000,1.000000,0.000000,...,0.0000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.0000,0.000000,0.000000
75%,18.000000,0.000000,12.000000,0.000000,0.000000,0.000000,0.000000,0.0000,18.000000,0.000000,...,0.0000,0.000000,0.000000,18.000000,0.000000,11.000000,0.000000,0.0000,0.000000,0.000000
max,1007.000000,474.000000,845.000000,34.000000,156.000000,129.000000,79.000000,1.0000,1007.000000,474.000000,...,1.0000,129.000000,79.000000,1007.000000,474.000000,845.000000,34.000000,1.0000,129.000000,79.000000

In [4]:
splits = 3
splitted_df_list = np.array_split(df, splits)

prediction_df_list = []

for splitted_df in splitted_df_list:
    training_df = df.drop(splitted_df.index)
    prediction_df = splitted_df
    
    exp = setup(training_df, target = 'tourism')
    best = compare_models()
    predictions = predict_model(best, data = prediction_df)
    
    predictions = predictions[['prediction_label']]
    predictions.index = prediction_df.index
    prediction_df_list.append(predictions)

Initiated  . . . . . . . . . . . . . . . . . .              22:48:55
Status     . . . . . . . . . . . . . . . . . .  Loading Dependencies
Estimator  . . . . . . . . . . . . . . . . . .     Compiling Library

Processing:   0%|          | 0/77 [00:00<?, ?it/s]

Initiated  . . . . . . . . . . . . . . . . . .              22:50:57
Status     . . . . . . . . . . . . . . . . . .  Loading Dependencies
Estimator  . . . . . . . . . . . . . . . . . .     Compiling Library

Processing:   0%|          | 0/77 [00:00<?, ?it/s]

Initiated  . . . . . . . . . . . . . . . . . .              22:53:00
Status     . . . . . . . . . . . . . . . . . .  Loading Dependencies
Estimator  . . . . . . . . . . . . . . . . . .     Compiling Library

Processing:   0%|          | 0/77 [00:00<?, ?it/s]

In [5]:
predictions_concat = pd.concat(prediction_df_list)

In [7]:
export_df = pd.read_csv('3.final_map_converted.csv')
export_df.drop('Unnamed: 0', axis = 1, inplace = True)
export_df.set_index('field_1', inplace = True)
export_df

,nature,entertainment,transports,art,tourism,security,accessibility,sport,geometry
field_1,,,,,,,,,
R1C2,-0.606620,0.010512,-0.540009,-0.285658,0.881631,-0.116401,1.107100,-0.013842,"POLYGON ((4.130889815608598 52.00500001293753,..."
R1C3,-0.538415,-0.161107,-0.065515,-0.285658,0.518320,-0.116401,0.822705,-0.013842,"POLYGON ((4.137769758040735 52.00500001293753,..."
R1C4,-0.424742,-0.246917,-0.212772,-0.285658,0.155009,-0.116401,-0.030481,-0.013842,"POLYGON ((4.144649700472871 52.00500001293753,..."
R1C5,-0.492946,-0.075298,-0.294581,-0.285658,-0.208302,-0.116401,-0.314876,-0.013842,POLYGON ((4.1515296429050075 52.00500001293753...
R1C6,-0.265598,0.439560,1.210711,0.505538,-0.208302,0.867638,-0.314876,-0.013842,"POLYGON ((4.158409585337144 52.00500001293753,..."
...,...,...,...,...,...,...,...,...,...
R200C93,-0.606620,-0.246917,-0.572733,-0.285658,-0.208302,-0.116401,-0.314876,-0.013842,POLYGON ((4.756964576933012 52.999974451463515...
R200C94,-0.606620,-0.246917,-0.540009,-0.285658,-0.208302,-0.116401,-0.314876,-0.013842,POLYGON ((4.763844519365148 52.999974451463515...
R200C95,-0.561150,-0.161107,-0.589095,-0.285658,-0.208302,-0.116401,-0.314876,-0.013842,POLYGON ((4.770724461797284 52.999974451463515...
R200C110,-0.606620,-0.246917,-0.621818,-0.285658,-0.208302,-0.116401,-0.314876,-0.013842,POLYGON ((4.8739235982793305 52.99997445146351...
R200C152,-0.629354,-0.246917,-0.605456,-0.285658,-0.208302,-0.116401,-0.314876,-0.013842,"POLYGON ((5.16288118042906 52.999974451463515,..."

In [8]:
export_df['predicted_tourism'] = predictions_concat.prediction_label
export_df

,nature,entertainment,transports,art,tourism,security,accessibility,sport,geometry,predicted_tourism
field_1,,,,,,,,,,
R1C2,-0.606620,0.010512,-0.540009,-0.285658,0.881631,-0.116401,1.107100,-0.013842,"POLYGON ((4.130889815608598 52.00500001293753,...",0.319507
R1C3,-0.538415,-0.161107,-0.065515,-0.285658,0.518320,-0.116401,0.822705,-0.013842,"POLYGON ((4.137769758040735 52.00500001293753,...",0.575121
R1C4,-0.424742,-0.246917,-0.212772,-0.285658,0.155009,-0.116401,-0.030481,-0.013842,"POLYGON ((4.144649700472871 52.00500001293753,...",0.228147
R1C5,-0.492946,-0.075298,-0.294581,-0.285658,-0.208302,-0.116401,-0.314876,-0.013842,POLYGON ((4.1515296429050075 52.00500001293753...,0.299597
R1C6,-0.265598,0.439560,1.210711,0.505538,-0.208302,0.867638,-0.314876,-0.013842,"POLYGON ((4.158409585337144 52.00500001293753,...",2.058907
...,...,...,...,...,...,...,...,...,...,...
R200C93,-0.606620,-0.246917,-0.572733,-0.285658,-0.208302,-0.116401,-0.314876,-0.013842,POLYGON ((4.756964576933012 52.999974451463515...,0.060000
R200C94,-0.606620,-0.246917,-0.540009,-0.285658,-0.208302,-0.116401,-0.314876,-0.013842,POLYGON ((4.763844519365148 52.999974451463515...,0.080000
R200C95,-0.561150,-0.161107,-0.589095,-0.285658,-0.208302,-0.116401,-0.314876,-0.013842,POLYGON ((4.770724461797284 52.999974451463515...,0.020000
R200C110,-0.606620,-0.246917,-0.621818,-0.285658,-0.208302,-0.116401,-0.314876,-0.013842,POLYGON ((4.8739235982793305 52.99997445146351...,0.000000
R200C152,-0.629354,-0.246917,-0.605456,-0.285658,-0.208302,-0.116401,-0.314876,-0.013842,"POLYGON ((5.16288118042906 52.999974451463515,...",0.000000

In [9]:
export_df.to_csv('7.final_predictions.csv')