In [77]:
import geopandas as gpd
from shapely.geometry import Polygon
import numpy as np

In [78]:
gdf = gpd.read_file('1. filtered_df.csv')
gdf

,field_1,row,column,lat_min,lat_max,lon_min,lon_max,nature,entartainment,transports,art,sport,tourism,security,accessibility,geometry
0,R1C36,1.0,36.0,45.00000374836847,45.01000368615005,12.460000052,12.475000045,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,None
1,R1C37,1.0,37.0,45.00000374836847,45.01000368615005,12.445000059,12.460000052,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,None
2,R1C38,1.0,38.0,45.00000374836847,45.01000368615005,12.430000066,12.445000059,54.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,None
3,R1C39,1.0,39.0,45.00000374836847,45.01000368615005,12.415000073,12.430000066,46.0,1.0,13.0,1.0,0.0,0.0,0.0,0.0,None
4,R1C40,1.0,40.0,45.00000374836847,45.01000368615005,12.40000008,12.415000073,17.0,0.0,6.0,0.0,0.0,0.0,0.0,0.0,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7663,R100C96,100.0,96.0,45.98999758874481,45.999997526526386,11.560000472,11.575000465,1.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,None
7664,R100C97,100.0,97.0,45.98999758874481,45.999997526526386,11.545000479,11.560000472,17.0,0.0,0.0,0.0,0.0,4.0,0.0,0.0,None
7665,R100C98,100.0,98.0,45.98999758874481,45.999997526526386,11.530000486,11.545000479,182.0,0.0,12.0,0.0,0.0,3.0,0.0,0.0,None
7666,R100C99,100.0,99.0,45.98999758874481,45.999997526526386,11.515000493,11.530000486,171.0,0.0,22.0,1.0,0.0,6.0,0.0,0.0,None
7667,R100C100,100.0,100.0,45.98999758874481,45.999997526526386,11.5000005,11.515000493,3.0,0.0,5.0,0.0,0.0,3.0,0.0,0.0,None

In [79]:
columns_to_normalize = ['nature', 'entartainment', 'transports', 'art', 'sport', 'tourism', 'security', 'accessibility']

for column in columns_to_normalize:
    print(column)
    gdf[column] = [float(x) for x in gdf[column]]

    # normalization
    gdf[column] = (gdf[column] - gdf[column].mean())
    gdf[column] = gdf[column] / gdf[column].std()

    # removing outliers
    low = gdf[column].quantile(0.01)
    gdf.loc[gdf[column] < low, column] = low

    high = gdf[column].quantile(0.99)
    gdf.loc[gdf[column] > high, column] = high

nature
entartainment
transports
art
sport
tourism
security
accessibility

In [80]:
gdf

,field_1,row,column,lat_min,lat_max,lon_min,lon_max,nature,entartainment,transports,art,sport,tourism,security,accessibility,geometry
0,R1C36,1.0,36.0,45.00000374836847,45.01000368615005,12.460000052,12.475000045,-0.361967,-0.192540,-0.519726,-0.437702,-0.338725,-0.254013,-0.216382,-0.188927,None
1,R1C37,1.0,37.0,45.00000374836847,45.01000368615005,12.445000059,12.460000052,-0.389104,-0.192540,-0.519726,-0.437702,-0.338725,-0.254013,-0.216382,-0.188927,None
2,R1C38,1.0,38.0,45.00000374836847,45.01000368615005,12.430000066,12.445000059,0.330047,-0.192540,-0.498072,-0.437702,-0.338725,-0.254013,-0.216382,-0.188927,None
3,R1C39,1.0,39.0,45.00000374836847,45.01000368615005,12.415000073,12.430000066,0.221496,-0.109703,-0.378978,0.091933,-0.338725,-0.254013,-0.216382,-0.188927,None
4,R1C40,1.0,40.0,45.00000374836847,45.01000368615005,12.40000008,12.415000073,-0.172002,-0.192540,-0.454765,-0.437702,-0.338725,-0.254013,-0.216382,-0.188927,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7663,R100C96,100.0,96.0,45.98999758874481,45.999997526526386,11.560000472,11.575000465,-0.389104,-0.192540,-0.498072,-0.437702,-0.338725,-0.254013,-0.216382,-0.188927,None
7664,R100C97,100.0,97.0,45.98999758874481,45.999997526526386,11.545000479,11.560000472,-0.172002,-0.192540,-0.519726,-0.437702,-0.338725,0.633456,-0.216382,-0.188927,None
7665,R100C98,100.0,98.0,45.98999758874481,45.999997526526386,11.530000486,11.545000479,2.066867,-0.192540,-0.389805,-0.437702,-0.338725,0.411589,-0.216382,-0.188927,None
7666,R100C99,100.0,99.0,45.98999758874481,45.999997526526386,11.515000493,11.530000486,1.917609,-0.192540,-0.281537,0.091933,-0.338725,1.077190,-0.216382,-0.188927,None
7667,R100C100,100.0,100.0,45.98999758874481,45.999997526526386,11.5000005,11.515000493,-0.361967,-0.192540,-0.465592,-0.437702,-0.338725,0.411589,-0.216382,-0.188927,None

In [81]:
lat_min_list = [float(x) for x in gdf.lat_min.to_list()]
lat_max_list = [float(x) for x in gdf.lat_max.to_list()]

lon_min_list = [float(x) for x in gdf.lon_min.to_list()]
lon_max_list = [float(x) for x in gdf.lon_max.to_list()]

In [82]:
polygons = []

for lat_min, lat_max, lon_min, lon_max in zip(lat_min_list, lat_max_list, lon_min_list, lon_max_list):
    polygons.append(Polygon([(lon_max, lat_max), (lon_min, lat_max), (lon_min, lat_min), (lon_max, lat_min)]))

In [83]:
gdf['geometry'] = polygons
gdf

,field_1,row,column,lat_min,lat_max,lon_min,lon_max,nature,entartainment,transports,art,sport,tourism,security,accessibility,geometry
0,R1C36,1.0,36.0,45.00000374836847,45.01000368615005,12.460000052,12.475000045,-0.361967,-0.192540,-0.519726,-0.437702,-0.338725,-0.254013,-0.216382,-0.188927,"POLYGON ((12.47500 45.01000, 12.46000 45.01000..."
1,R1C37,1.0,37.0,45.00000374836847,45.01000368615005,12.445000059,12.460000052,-0.389104,-0.192540,-0.519726,-0.437702,-0.338725,-0.254013,-0.216382,-0.188927,"POLYGON ((12.46000 45.01000, 12.44500 45.01000..."
2,R1C38,1.0,38.0,45.00000374836847,45.01000368615005,12.430000066,12.445000059,0.330047,-0.192540,-0.498072,-0.437702,-0.338725,-0.254013,-0.216382,-0.188927,"POLYGON ((12.44500 45.01000, 12.43000 45.01000..."
3,R1C39,1.0,39.0,45.00000374836847,45.01000368615005,12.415000073,12.430000066,0.221496,-0.109703,-0.378978,0.091933,-0.338725,-0.254013,-0.216382,-0.188927,"POLYGON ((12.43000 45.01000, 12.41500 45.01000..."
4,R1C40,1.0,40.0,45.00000374836847,45.01000368615005,12.40000008,12.415000073,-0.172002,-0.192540,-0.454765,-0.437702,-0.338725,-0.254013,-0.216382,-0.188927,"POLYGON ((12.41500 45.01000, 12.40000 45.01000..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7663,R100C96,100.0,96.0,45.98999758874481,45.999997526526386,11.560000472,11.575000465,-0.389104,-0.192540,-0.498072,-0.437702,-0.338725,-0.254013,-0.216382,-0.188927,"POLYGON ((11.57500 46.00000, 11.56000 46.00000..."
7664,R100C97,100.0,97.0,45.98999758874481,45.999997526526386,11.545000479,11.560000472,-0.172002,-0.192540,-0.519726,-0.437702,-0.338725,0.633456,-0.216382,-0.188927,"POLYGON ((11.56000 46.00000, 11.54500 46.00000..."
7665,R100C98,100.0,98.0,45.98999758874481,45.999997526526386,11.530000486,11.545000479,2.066867,-0.192540,-0.389805,-0.437702,-0.338725,0.411589,-0.216382,-0.188927,"POLYGON ((11.54500 46.00000, 11.53000 46.00000..."
7666,R100C99,100.0,99.0,45.98999758874481,45.999997526526386,11.515000493,11.530000486,1.917609,-0.192540,-0.281537,0.091933,-0.338725,1.077190,-0.216382,-0.188927,"POLYGON ((11.53000 46.00000, 11.51500 46.00000..."
7667,R100C100,100.0,100.0,45.98999758874481,45.999997526526386,11.5000005,11.515000493,-0.361967,-0.192540,-0.465592,-0.437702,-0.338725,0.411589,-0.216382,-0.188927,"POLYGON ((11.51500 46.00000, 11.50000 46.00000..."

In [86]:
gdf.to_csv('map_to_export.csv')

In [85]:
gdf.dtypes

field_1            object
row                object
column             object
lat_min            object
lat_max            object
lon_min            object
lon_max            object
nature            float64
entartainment     float64
transports        float64
art               float64
sport             float64
tourism           float64
security          float64
accessibility     float64
geometry         geometry
dtype: object

In [113]:
exporting_df = gdf.drop('field_1', axis = 1)

In [114]:
exporting_df = exporting_df.drop(['geometry', 'row', 'column', 'lat_min', 'lat_max', 'lon_min', 'lon_max'], axis =1).astype(float).round(6)
exporting_df['geometry'] = gdf.geometry

In [115]:
exporting_df

,nature,entartainment,transports,art,sport,tourism,security,accessibility,geometry
0,-0.361967,-0.192540,-0.519726,-0.437702,-0.338725,-0.254013,-0.216382,-0.188927,"POLYGON ((12.47500 45.01000, 12.46000 45.01000..."
1,-0.389104,-0.192540,-0.519726,-0.437702,-0.338725,-0.254013,-0.216382,-0.188927,"POLYGON ((12.46000 45.01000, 12.44500 45.01000..."
2,0.330047,-0.192540,-0.498072,-0.437702,-0.338725,-0.254013,-0.216382,-0.188927,"POLYGON ((12.44500 45.01000, 12.43000 45.01000..."
3,0.221496,-0.109703,-0.378978,0.091933,-0.338725,-0.254013,-0.216382,-0.188927,"POLYGON ((12.43000 45.01000, 12.41500 45.01000..."
4,-0.172002,-0.192540,-0.454765,-0.437702,-0.338725,-0.254013,-0.216382,-0.188927,"POLYGON ((12.41500 45.01000, 12.40000 45.01000..."
...,...,...,...,...,...,...,...,...,...
7663,-0.389104,-0.192540,-0.498072,-0.437702,-0.338725,-0.254013,-0.216382,-0.188927,"POLYGON ((11.57500 46.00000, 11.56000 46.00000..."
7664,-0.172002,-0.192540,-0.519726,-0.437702,-0.338725,0.633456,-0.216382,-0.188927,"POLYGON ((11.56000 46.00000, 11.54500 46.00000..."
7665,2.066867,-0.192540,-0.389805,-0.437702,-0.338725,0.411589,-0.216382,-0.188927,"POLYGON ((11.54500 46.00000, 11.53000 46.00000..."
7666,1.917609,-0.192540,-0.281537,0.091933,-0.338725,1.077190,-0.216382,-0.188927,"POLYGON ((11.53000 46.00000, 11.51500 46.00000..."
7667,-0.361967,-0.192540,-0.465592,-0.437702,-0.338725,0.411589,-0.216382,-0.188927,"POLYGON ((11.51500 46.00000, 11.50000 46.00000..."

In [116]:
exporting_df.dtypes

nature            float64
entartainment     float64
transports        float64
art               float64
sport             float64
tourism           float64
security          float64
accessibility     float64
geometry         geometry
dtype: object

In [118]:
gpd.GeoDataFrame(exporting_df).to_file('final_map_converted.gpkg', driver = 'GPKG', layer = 'name')