In [1]:
import geopandas as gpd
from shapely.geometry import Polygon
import numpy as np

C:\Users\gabri\anaconda3\envs\geo_env\lib\site-packages\pyproj\__init__.py:89: UserWarning: pyproj unable to set database path.
  _pyproj_global_context_initialize()

In [2]:
gdf = gpd.read_file('1.filtered_df.csv')
gdf

,field_1,row,column,lat_min,lat_max,lon_min,lon_max,nature,entartainment,transports,art,sport,tourism,security,accessibility,geometry
0,R1C2,1.0,2.0,45.00000374836847,45.005003717259264,11.5000005,11.5075004965,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,None
1,R1C3,1.0,3.0,45.00000374836847,45.005003717259264,11.5075004965,11.515000493,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,None
2,R1C5,1.0,5.0,45.00000374836847,45.005003717259264,11.5225004895,11.530000486,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,None
3,R1C6,1.0,6.0,45.00000374836847,45.005003717259264,11.530000486,11.5375004825,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,None
4,R1C7,1.0,7.0,45.00000374836847,45.005003717259264,11.5375004825,11.545000479,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28149,R200C196,200.0,196.0,45.9949975576363,45.999997526527096,12.954999821,12.9624998175,3.0,1.0,5.0,0.0,0.0,0.0,0.0,1.0,None
28150,R200C197,200.0,197.0,45.9949975576363,45.999997526527096,12.9624998175,12.969999814,4.0,0.0,11.0,1.0,3.0,0.0,0.0,0.0,None
28151,R200C198,200.0,198.0,45.9949975576363,45.999997526527096,12.969999814,12.9774998105,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,None
28152,R200C199,200.0,199.0,45.9949975576363,45.999997526527096,12.9774998105,12.984999807,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,None
28153,R200C200,200.0,200.0,45.9949975576363,45.999997526527096,12.984999807,12.9924998035,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,None

In [3]:
columns_to_normalize = ['nature', 'entartainment', 'transports', 'art', 'sport', 'tourism', 'security', 'accessibility']

for column in columns_to_normalize:
    print('Exporting: ', column)
    gdf[column] = [float(x) for x in gdf[column]]

    # normalization
    gdf[column] = (gdf[column] - gdf[column].mean())
    gdf[column] = gdf[column] / gdf[column].std()

    # removing outliers
    low = gdf[column].quantile(0.01)
    gdf.loc[gdf[column] < low, column] = low

    high = gdf[column].quantile(0.99)
    gdf.loc[gdf[column] > high, column] = high

gdf

Exporting:  nature
Exporting:  entartainment
Exporting:  transports
Exporting:  art
Exporting:  sport
Exporting:  tourism
Exporting:  security
Exporting:  accessibility

,field_1,row,column,lat_min,lat_max,lon_min,lon_max,nature,entartainment,transports,art,sport,tourism,security,accessibility,geometry
0,R1C2,1.0,2.0,45.00000374836847,45.005003717259264,11.5000005,11.5075004965,-0.357225,-0.147138,-0.424027,-0.287166,-0.236920,-0.202676,-0.150794,-0.129103,None
1,R1C3,1.0,3.0,45.00000374836847,45.005003717259264,11.5075004965,11.515000493,-0.357225,-0.147138,-0.388801,-0.287166,-0.236920,-0.202676,-0.150794,-0.129103,None
2,R1C5,1.0,5.0,45.00000374836847,45.005003717259264,11.5225004895,11.530000486,-0.357225,-0.147138,-0.424027,-0.287166,-0.236920,-0.202676,-0.150794,-0.129103,None
3,R1C6,1.0,6.0,45.00000374836847,45.005003717259264,11.530000486,11.5375004825,-0.357225,-0.147138,-0.424027,-0.287166,-0.236920,-0.202676,-0.150794,-0.129103,None
4,R1C7,1.0,7.0,45.00000374836847,45.005003717259264,11.5375004825,11.545000479,-0.357225,-0.147138,-0.388801,-0.287166,-0.236920,-0.202676,-0.150794,-0.129103,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28149,R200C196,200.0,196.0,45.9949975576363,45.999997526527096,12.954999821,12.9624998175,-0.224525,0.085889,-0.283122,-0.287166,-0.236920,-0.202676,-0.150794,0.367314,None
28150,R200C197,200.0,197.0,45.9949975576363,45.999997526527096,12.9624998175,12.969999814,-0.180292,-0.147138,-0.071764,0.993911,1.689969,-0.202676,-0.150794,-0.129103,None
28151,R200C198,200.0,198.0,45.9949975576363,45.999997526527096,12.969999814,12.9774998105,-0.357225,-0.147138,-0.424027,-0.287166,-0.236920,-0.202676,-0.150794,-0.129103,None
28152,R200C199,200.0,199.0,45.9949975576363,45.999997526527096,12.9774998105,12.984999807,-0.357225,-0.147138,-0.424027,-0.287166,-0.236920,-0.202676,-0.150794,-0.129103,None
28153,R200C200,200.0,200.0,45.9949975576363,45.999997526527096,12.984999807,12.9924998035,-0.312992,-0.147138,-0.424027,-0.287166,-0.236920,-0.202676,-0.150794,-0.129103,None

In [4]:
lat_min_list = [float(x) for x in gdf.lat_min.to_list()]
lat_max_list = [float(x) for x in gdf.lat_max.to_list()]

lon_min_list = [float(x) for x in gdf.lon_min.to_list()]
lon_max_list = [float(x) for x in gdf.lon_max.to_list()]

In [5]:
polygons = []

for lat_min, lat_max, lon_min, lon_max in zip(lat_min_list, lat_max_list, lon_min_list, lon_max_list):
    polygons.append(Polygon([(lon_max, lat_max), (lon_min, lat_max), (lon_min, lat_min), (lon_max, lat_min)]))

In [6]:
gdf['geometry'] = polygons
gdf

,field_1,row,column,lat_min,lat_max,lon_min,lon_max,nature,entartainment,transports,art,sport,tourism,security,accessibility,geometry
0,R1C2,1.0,2.0,45.00000374836847,45.005003717259264,11.5000005,11.5075004965,-0.357225,-0.147138,-0.424027,-0.287166,-0.236920,-0.202676,-0.150794,-0.129103,"POLYGON ((11.50750 45.00500, 11.50000 45.00500..."
1,R1C3,1.0,3.0,45.00000374836847,45.005003717259264,11.5075004965,11.515000493,-0.357225,-0.147138,-0.388801,-0.287166,-0.236920,-0.202676,-0.150794,-0.129103,"POLYGON ((11.51500 45.00500, 11.50750 45.00500..."
2,R1C5,1.0,5.0,45.00000374836847,45.005003717259264,11.5225004895,11.530000486,-0.357225,-0.147138,-0.424027,-0.287166,-0.236920,-0.202676,-0.150794,-0.129103,"POLYGON ((11.53000 45.00500, 11.52250 45.00500..."
3,R1C6,1.0,6.0,45.00000374836847,45.005003717259264,11.530000486,11.5375004825,-0.357225,-0.147138,-0.424027,-0.287166,-0.236920,-0.202676,-0.150794,-0.129103,"POLYGON ((11.53750 45.00500, 11.53000 45.00500..."
4,R1C7,1.0,7.0,45.00000374836847,45.005003717259264,11.5375004825,11.545000479,-0.357225,-0.147138,-0.388801,-0.287166,-0.236920,-0.202676,-0.150794,-0.129103,"POLYGON ((11.54500 45.00500, 11.53750 45.00500..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28149,R200C196,200.0,196.0,45.9949975576363,45.999997526527096,12.954999821,12.9624998175,-0.224525,0.085889,-0.283122,-0.287166,-0.236920,-0.202676,-0.150794,0.367314,"POLYGON ((12.96250 46.00000, 12.95500 46.00000..."
28150,R200C197,200.0,197.0,45.9949975576363,45.999997526527096,12.9624998175,12.969999814,-0.180292,-0.147138,-0.071764,0.993911,1.689969,-0.202676,-0.150794,-0.129103,"POLYGON ((12.97000 46.00000, 12.96250 46.00000..."
28151,R200C198,200.0,198.0,45.9949975576363,45.999997526527096,12.969999814,12.9774998105,-0.357225,-0.147138,-0.424027,-0.287166,-0.236920,-0.202676,-0.150794,-0.129103,"POLYGON ((12.97750 46.00000, 12.97000 46.00000..."
28152,R200C199,200.0,199.0,45.9949975576363,45.999997526527096,12.9774998105,12.984999807,-0.357225,-0.147138,-0.424027,-0.287166,-0.236920,-0.202676,-0.150794,-0.129103,"POLYGON ((12.98500 46.00000, 12.97750 46.00000..."
28153,R200C200,200.0,200.0,45.9949975576363,45.999997526527096,12.984999807,12.9924998035,-0.312992,-0.147138,-0.424027,-0.287166,-0.236920,-0.202676,-0.150794,-0.129103,"POLYGON ((12.99250 46.00000, 12.98500 46.00000..."

In [7]:
gdf.to_csv('map_to_export.csv')
gdf.dtypes

field_1            object
row                object
column             object
lat_min            object
lat_max            object
lon_min            object
lon_max            object
nature            float64
entartainment     float64
transports        float64
art               float64
sport             float64
tourism           float64
security          float64
accessibility     float64
geometry         geometry
dtype: object

In [8]:
exporting_df = gdf.drop(['geometry', 'row', 'column', 'lat_min', 'lat_max', 'lon_min', 'lon_max'], axis =1)
exporting_df['geometry'] = gdf.geometry
exporting_df

,field_1,nature,entartainment,transports,art,sport,tourism,security,accessibility,geometry
0,R1C2,-0.357225,-0.147138,-0.424027,-0.287166,-0.236920,-0.202676,-0.150794,-0.129103,"POLYGON ((11.50750 45.00500, 11.50000 45.00500..."
1,R1C3,-0.357225,-0.147138,-0.388801,-0.287166,-0.236920,-0.202676,-0.150794,-0.129103,"POLYGON ((11.51500 45.00500, 11.50750 45.00500..."
2,R1C5,-0.357225,-0.147138,-0.424027,-0.287166,-0.236920,-0.202676,-0.150794,-0.129103,"POLYGON ((11.53000 45.00500, 11.52250 45.00500..."
3,R1C6,-0.357225,-0.147138,-0.424027,-0.287166,-0.236920,-0.202676,-0.150794,-0.129103,"POLYGON ((11.53750 45.00500, 11.53000 45.00500..."
4,R1C7,-0.357225,-0.147138,-0.388801,-0.287166,-0.236920,-0.202676,-0.150794,-0.129103,"POLYGON ((11.54500 45.00500, 11.53750 45.00500..."
...,...,...,...,...,...,...,...,...,...,...
28149,R200C196,-0.224525,0.085889,-0.283122,-0.287166,-0.236920,-0.202676,-0.150794,0.367314,"POLYGON ((12.96250 46.00000, 12.95500 46.00000..."
28150,R200C197,-0.180292,-0.147138,-0.071764,0.993911,1.689969,-0.202676,-0.150794,-0.129103,"POLYGON ((12.97000 46.00000, 12.96250 46.00000..."
28151,R200C198,-0.357225,-0.147138,-0.424027,-0.287166,-0.236920,-0.202676,-0.150794,-0.129103,"POLYGON ((12.97750 46.00000, 12.97000 46.00000..."
28152,R200C199,-0.357225,-0.147138,-0.424027,-0.287166,-0.236920,-0.202676,-0.150794,-0.129103,"POLYGON ((12.98500 46.00000, 12.97750 46.00000..."
28153,R200C200,-0.312992,-0.147138,-0.424027,-0.287166,-0.236920,-0.202676,-0.150794,-0.129103,"POLYGON ((12.99250 46.00000, 12.98500 46.00000..."

In [9]:
exporting_df.dtypes

field_1            object
nature            float64
entartainment     float64
transports        float64
art               float64
sport             float64
tourism           float64
security          float64
accessibility     float64
geometry         geometry
dtype: object

In [10]:
exporting_df.to_csv('3.final_map_converted.csv')