In [18]:
import pandas as pd
import sklearn
import matplotlib as plt
from pycaret.regression import *

In [19]:
df = pd.read_csv('1. filtered_df.csv')
df.index = df['Unnamed: 0']
df.drop(['Unnamed: 0', 'row', 'column', 'lat_min', 'lat_max', 'lon_min', 'lon_max'], axis = 1, inplace = True)
df

,nature,entartainment,transports,art,sport,tourism,security,accessibility
Unnamed: 0,,,,,,,,
R1C36,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
R1C37,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
R1C38,54.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0
R1C39,46.0,1.0,13.0,1.0,0.0,0.0,0.0,0.0
R1C40,17.0,0.0,6.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...
R100C96,1.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0
R100C97,17.0,0.0,0.0,0.0,0.0,4.0,0.0,0.0
R100C98,182.0,0.0,12.0,0.0,0.0,3.0,0.0,0.0
R100C99,171.0,0.0,22.0,1.0,0.0,6.0,0.0,0.0
R100C100,3.0,0.0,5.0,0.0,0.0,3.0,0.0,0.0

In [20]:
df.describe()

,nature,entartainment,transports,art,sport,tourism,security,accessibility
count,7668.000000,7668.000000,7668.000000,7668.000000,7668.000000,7668.000000,7668.000000,7668.000000
mean,29.676187,2.324335,48.003782,0.826421,1.358894,1.144888,0.239176,0.957616
std,73.697924,12.071979,92.363670,1.888090,4.011792,4.507201,1.105339,5.068710
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,3.000000,0.000000,7.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,11.000000,0.000000,19.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,31.000000,1.000000,50.000000,1.000000,1.000000,1.000000,0.000000,0.000000
max,1883.000000,576.000000,2344.000000,53.000000,133.000000,232.000000,29.000000,169.000000

In [21]:
exp = setup(df, target = 'tourism')

In [22]:
best = compare_models(n_select = 3)

Processing:   0%|          | 0/79 [00:00<?, ?it/s]

In [23]:
evaluate_model(best[0])

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Pipeline Plot', 'pipelinâ€¦

In [7]:
tuned_model = tune_model(best[0])

Processing:   0%|          | 0/7 [00:00<?, ?it/s]

Fitting 10 folds for each of 10 candidates, totalling 100 fits

# Expanding the Model - Interaction Effect and Polynomial Features

In [8]:
expanded_df = df.copy()
columns = expanded_df.columns.to_list()
columns.remove('tourism')

In [9]:
for a in columns:
    for b in columns:
        expanded_df[a + ' x ' + b ] = expanded_df[a] * expanded_df[b]

In [10]:
expanded_df

,nature,entartainment,transports,art,sport,tourism,security,accessibility,nature x nature,nature x entartainment,...,security x sport,security x security,security x accessibility,accessibility x nature,accessibility x entartainment,accessibility x transports,accessibility x art,accessibility x sport,accessibility x security,accessibility x accessibility
Unnamed: 0,,,,,,,,,,,,,,,,,,,,,
R1C36,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,9.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
R1C37,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
R1C38,54.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,2916.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
R1C39,46.0,1.0,13.0,1.0,0.0,0.0,0.0,0.0,2116.0,46.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
R1C40,17.0,0.0,6.0,0.0,0.0,0.0,0.0,0.0,289.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
R100C96,1.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
R100C97,17.0,0.0,0.0,0.0,0.0,4.0,0.0,0.0,289.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
R100C98,182.0,0.0,12.0,0.0,0.0,3.0,0.0,0.0,33124.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
R100C99,171.0,0.0,22.0,1.0,0.0,6.0,0.0,0.0,29241.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
R100C100,3.0,0.0,5.0,0.0,0.0,3.0,0.0,0.0,9.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [11]:
exp = setup(expanded_df, target = 'tourism')

In [12]:
best_expanded = compare_models()

Processing:   0%|          | 0/77 [00:00<?, ?it/s]

In [13]:
evaluate_model(best_expanded)

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Pipeline Plot', 'pipelinâ€¦

# Ensemble Models

In [14]:
bagged = ensemble_model(best[0], method = 'Bagging')

Processing:   0%|          | 0/6 [00:00<?, ?it/s]

In [15]:
boosting = ensemble_model(best[0], method = 'Boosting')

Processing:   0%|          | 0/6 [00:00<?, ?it/s]

In [16]:
blender = blend_models(best)

Processing:   0%|          | 0/6 [00:00<?, ?it/s]

In [17]:
stacking = stack_models(best)

Processing:   0%|          | 0/6 [00:00<?, ?it/s]